node_modules/
../node_modules/
npm-debug.log*
dist/
*.log
.vscode/
# VSCode and other IDEs

.idea/

.DS_Store
**/.env


# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.env
*.env.*
db.sqlite3

# Django static/media
/staticfiles/
/media/
/local_settings.py

# Virtual environments
venv/
ENV/
env/
*.egg-info/
